$current-theme:rgb(6, 6, 70);
$defualt-theme:dark;

$light-text:white;
$dark-text:black;

$nav-bg:rgb(255, 174, 0);
$header-footer:rgb(21, 21, 54);

$primary-color:darkcyan;
$secondary-color:seagreen;

$first-blue:#00a8ff;
$second-blue:#0097e6;
$first-navy:#273c75;
$second-navy:#192a56;
$first-green:#4cd137;
$second-green:#44bd32;
$first-red:#e84118;
$second-red:#c23616;
$first-purple:#9c88ff;
$second-purple:#8c7ae6;